@tailwind base;
@tailwind components;
@tailwind utilities;

/* .header.blur {
    transition: .2s;
    background-color: rgba(29, 29, 27, 0.4);
    backdrop-filter: blur(15px);
} */

html{
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.header{
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: #01155069;
    z-index: 1000;
}

.nav{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    display: flex;
    align-self: flex-start;
    width: 15rem;
    height: 100%;
    padding-left: 0.5rem  ;
}

.nav-list{
    display: flex;
    width: 50%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 2rem;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.75rem;
    margin: 1rem;
    padding-left: 1rem;
}

.nav-button {
    display: block;
    width: 6rem;
    text-decoration: none;
    color: #ffffffc2;
    text-align: center;
}

#button-xl{
    width: 9rem;
}

#button-xl2{
    width: 6.5rem;
}

.nav .nav-list .li .nav-button,
.nav .nav-list .li .nav-button:after,
.nav .nav-list .li .nav-button:before {
    transition: all .5s;
}

.nav .nav-list .li .nav-button:hover {
    color: #FFFFFF;
}

.nav .nav-list .li .nav-button {
    position: relative;
}

.nav .nav-list .li .nav-button:after {
    position: absolute;
    bottom: 1;
    left: 0;
    right: 1;
    margin: auto;
    width: 2px;
    content: '.';
    color: transparent;
    background: #dfdfdf00;
    height: 0%;
}

.nav .nav-list .li .nav-button:hover:after {
    background: #ED3237;
    height: 100%;
}

.contacto{
    width: 10%;
    text-decoration: none;
    color: #ffffff;
    padding: 0.8rem;
    transition: .7s;
    background: linear-gradient(120deg, var(--c1, #ffffff00), var(--c2, #ffffff) 90%, var(--c1, #ffffff)) var(--x, 0)/ 200%;
    background-size: 300% 100%;
    border-radius: 20px;
    margin: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
}
.contacto:hover, .empieza:hover{
    --x: 100%;
    color: #011550;
    transition: .5s;
}

.empieza{
    margin-left: 0;
    margin-right: 0;
    margin-top: 10vh;
    text-decoration: none;
    color: #ffffff;
    padding: 1rem;
    transition: .7s;
    background: linear-gradient(120deg, var(--c1, #ffffff00), var(--c2, #ffffff) 90%, var(--c1, #ffffff)) var(--x, 0)/ 200%;
    background-size: 300% 100%;
    border-radius: 20px;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
}

.contacto-mobile{
    display: none;
    pointer-events: none;
}

.main{
    background: linear-gradient(135deg in, #021750, #0848EF);
    width: 100%; 
    height: 100vh;
    color: white;
}

.box{
    display: none;
}

/* TABLET */

@media (max-width: 1000px){

    .nav-list.visible {
        opacity: 1;
        visibility: visible;
        transition: .5s;
    }

    .contacto-mobile{
        display: block;
        width: 10%;
        text-decoration: none;
        color: #ffffff;
        padding: 10px;
        transition: .7s;
        background: linear-gradient(120deg, var(--c1, #ffffff00), var(--c2, #ffffff) 90%, var(--c1, #ffffff)) var(--x, 0)/ 200%;
        background-size: 300% 100%;
        border-radius: 20px;
        margin: 1rem;
        font-size: 1.1rem;
        font-weight: 600;
        text-align: center;
    }

    .box{
        width: 40px;
        height: 100%;
        margin-top: 37.5px;
        margin-right: 20px;
    }

    .contacto{
        display: none;
    }

    .nav-list {
        padding-top: 2rem;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        font-size: 1.3rem;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        transition: .5s;
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        position: absolute;
        gap: 2rem;
        top: 80px;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(29, 29, 27, 0.970);
        justify-content: start;
        z-index: 30;
    }

/* BURGUER */

.box{
    display: block;
}

#burguer {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 40px;
    background: white;
    position: absolute;
    display: block;
    content: '';
    background: #FFF;
}

#burguer,
#burguer:after,
#burguer:before {
    transition: all 200ms ease-in-out;
    border-radius: 1px;
    height: 3px;
    width: 37px;
    background: white;
    position: absolute;
    display: block;
    content: '';
    background: #fff;
}

#burguer:before {
    top: -10px;
}

#burguer:after {
    bottom: -10px;
}

#burguer.active {
    transition: 0;
    background-color: transparent;
}

#burguer.active:before,
#burguer.active:after {
    top: 0;
}

#burguer.active:after {
    transform: rotate(-45deg);
}

#burguer.active:before {
    transform: rotate(45deg);
}

}

/* MOBILE */

/* @media (max-width: 430px){

} */

@media (min-width: 395px){
    .phone, .coins1-mobile, .coins2-mobile{
        display: none;
    }
}

@media (min-width: 230px){

    /* MAIN SECTION */

    .main{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 750px;
        justify-content: space-between;
    }

    .main-text{
        width: 100%;
        height: 350px;
        padding-top: 110px;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .h1main{
        font-size: 3rem;
        font-weight: 700;
        text-align: start;
        line-height: 42px;
        color: #FFF;
    }
    .h1main.red{
        color: #E45C60;
    }

    .main-img{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .coins1-mobile{
        width: 40%;
        z-index: 5;
        transform: translate(0, -1.5rem);
        position: absolute;
    }

    .coins2-mobile{
        width: 40%;
        z-index: 15;
        transform: translate(0, -1.5rem);
        position: absolute;
        margin-left: 60vw;
    }

    .phone{
        width: 80%;
        margin: auto;
        padding-top: 2rem;
        z-index: 10;
    }

    .h2main{
        font-size: 1.5rem;
        font-weight: 400;
        text-align: start;
        color: #FFF;
    }

    /* SERVICIOS SECTION */

    .h1serv{
        font-size: 2.5rem;
        font-weight: 700;
        text-align: center;
        line-height: 42px;
    }
    .h1serv.sky{
        color: #1369C0;
    }
    .h1serv.darkblue{
        color: #173552;
    }

    .glassmorphism{
        width: 80vw;
        padding: 1.5rem;
        border-radius: 20px;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.300), rgb(224, 224, 224, 0.300));
        z-index: 1;
        position: relative;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        z-index: 5;
        margin: auto;
        margin-top: 1.5rem;
    }

    .glassmorphism-shadow{
        display: flex;
        justify-content: center;
        padding: 1rem;
        border-radius: 20px;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.300), rgb(224, 224, 224, 0.300));
        z-index: 10;
        position: relative;
        box-shadow:1px 1px 10px #00000025;
        margin-top: -1rem;  
        margin-left: 1rem;
        margin-right: 1rem;
    }

    /* BENEFICIOS */

    .shadowing{
        filter: drop-shadow(0 2px 5px #00000025)
    }

    .g1{
        position: relative;
        margin: 2rem;
        z-index: 1;
        margin-left: 0;
    }

    .g2{
        position: absolute;
        z-index: 2;
        transform: translate(100px, -190px);
    }

    .beneficios{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
    }

    .h3{
        text-align: justify;
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 20px;
    }
    .h3.sky{
        color: #1369C0;
    }
    .h3.darkblue{
        color: #173552;
    }
    .h3.red{
        color: #E45C60;
    }

    .glassmorphism-blue{
        padding: 1rem;
        border-radius: 20px;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.300), rgb(158, 209, 255, 0.300));
        position: relative;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        max-width: 320px;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .h2{
        color: #173552;
        font-size: 1.7rem;
        font-weight: 600;
        text-align: center;
        line-height: 25px;
    }
    .h2.sky{
        color: #1369C0;
    }
    .h2.darkblue{
        color: #173552;
    }
    .h2.red{
        color: #E45C60;
    }

    .p{
        width: 80vw;
        max-width: 300px;
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
        margin: auto;
    }

    /* CÓMO FUNCIONA SECTION */

    .p2{
        max-width: 300px;
        text-align: justify;
        font-size: 1rem;
        font-weight: 400;
        margin: auto;
    }

    .como-img{
        margin: auto;
        width: 85vw;
        margin-top: -1rem;
    }

    .h3como{
        text-align: center;
        font-size: 1.5rem;
        font-weight: 550;
        line-height: 25px;
        color: #173552;
    }
    .h3como-div{
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 5%;
        margin-right: 5%;
    }

    .coins-beneficios1{
        width: 30%;
        z-index: 15;
        transform: translate(0, 12rem);
        position: absolute;
    }

    .coins-beneficios2{
        width: 30%;
        z-index: 15;
        transform: translate(0, 12rem);
        margin-left: 70vw;
        position: absolute;
    }

}